<form action="/find_treats" method="POST">
  <input type="text" name="location" placeholder="Location" class="form-control" />
  <input type="submit" value="FIND TREATS" class="btn btn-primary btn-lg" />
</form>