<h1> Please enter your search </h1>

<form action="/find_treats" method="POST">
  <input type="text" name="location" placeholder="Location" class="form-control" />
  <input type="text" name="search" placeholder="Food" class="form-control" />
  <input type="submit" value="FIND FOOD" class="btn btn-primary btn-lg" />

</form>