<!DOCTYPE html>
<html>
  <head>
    <title>Qley</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/fixedsticky.css">

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="/js/fixedsticky.js"></script>
    
    <style>
      body {
        padding: 10px;
      }
      .logo {
        width: 200px;
        height: 90px;
      }
      .mapCol {
        height: 100%;
      }
    </style>
    <script>
      $(document).ready(function() {
        $(".fixedsticky").fixedsticky();
        $('[data-toggle="tooltip"]').tooltip();
        $("#determineLocation").click(function() {
          if (navigator.geolocation) {
            if ($(this).children("i").hasClass("fa-check")) {
              return false;
            }
            $(this).children("i").removeClass("fa-location-arrow");
            $(this).children("i").addClass("fa-refresh");
            $(this).children("i").addClass("fa-spin");
            navigator.geolocation.getCurrentPosition(function(position) {
              new google.maps.Geocoder().geocode({ 'location': new google.maps.LatLng(position.coords.latitude, position.coords.longitude)}, function(result) {
                $("#determineLocation").children("i").removeClass("fa-refresh");
                $("#determineLocation").children("i").removeClass("fa-spin");
                $("#determineLocation").children("i").addClass("fa-check");
                $("input[name=location]").val(result[0].formatted_address);
                $("input[name=location]").addClass("hidden");
                $("input[name=location]").parent().append($('<input type="text" placeholder="Location found" disabled class="form-control" />'));
              });
            });
          } else {
            alert("Your browser doesn't support Geolocation. :(");
          }
          return false;
        });
        $(".qley").click(function() {
          $(this).children("i").removeClass("fa-star-o");
          $(this).children("i").removeClass("fa-star");
          $(this).children("i").addClass("fa-spin");
          $(this).children("i").addClass("fa-refresh");
          var $thisThing = $(this);
          $.post("/qleyplace", { id: $(this).attr("data-id") }, function(response) {
            if (response == "Not logged in.") {
              alert("Log in to Qley your favorite places!");
            } else if (response == "on" || response == "off") {
              $thisThing.children("i").removeClass("fa-spin");
              $thisThing.children("i").removeClass("fa-refresh");
              $thisThing.children("i").addClass("fa-star" + (response == "off" ? "-o" : ""));
            } else {
              alert(response);
            }
          });
        });
      });
    </script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="box">
          <div class="col-lg-3">
            <a href="/"><img src="/img/qley.png" class="logo"/></a>
          </div>
          <div class="col-lg-9">
            <br />
            <h3><em>"Turning the finding places industry on its side."</em></h3>
            <% if @user %>
            Welcome, <%= h @user.username %>! <a href="/qleys">My Qleys </a> &bull; <a href="/logout">Log out</a>
            <% else %>
            Qley your favorite places today! <a href="/login">Log in</a> or <a href="/signup">sign up</a>!
            <% end %>
          </div>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>