<!DOCTYPE html>
<html>
  <head>
    <title>Treat Finder</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    
    <style>
      body {
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>