<form action="/login" method="POST">
  <input type="text" name="username" placeholder="Username" class="form-control"/>
  <input type="password" name="password" placeholder="Password" class="form-control"/>
  <input type="submit" value="Log in" class="btn btn-primary">
</form>