<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <h1>My Qleys</h1>
      <% if @user %>
      <ul>
        <%
stars = Star.where(user_id: @user.id)
stars.each do |star|
  business = Yelp.client.business(star.place_id)
  %>
        <li><a href="/business/<%= business.id %>"><%= h business.name %></a></li>
        <% end %>
      </ul>
      <% else %>
      <h4>To see your Qleys, <a href="/login">log in</a> or <a href="/signup">sign up</a>.</h4>
      <% end %>
    </div>
  </div>
</div>